{% load static %}
<!DOCTYPE html>
<html>
<head>
    <a href="{% url 'index' %}">Ir para cadastro de máquina</a><br>
    <title>Listagem</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles2.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body>
    <table>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Fabricante</th>
        </tr>
        {% for ficha in fichas %}
        <tr>
            <td>{{ ficha.id }}</td>
            <td>{{ ficha.nome }}</td>
            <td>{{ ficha.fabricante }}</td>
        </tr>
        {% endfor %}
    </table>
    <div id="csv"></div>
    <script>
    </script>
</body>
</html>